<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8" />
	<title>Spring Boot</title>
	<meta name="viewport"
		content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
	<!-- content css -->
	<th:block layout:fragment="css"></th:block>
</head>
<body>
	<!-- header -->
	<th:block th:replace="fragments/header :: defaultHeader"></th:block>
	<!-- content -->
	<th:block layout:fragment="content"></th:block>
	<!-- footer -->
	<th:block th:replace="fragments/footer :: defaultFooter"></th:block>
	<!-- content script -->
	<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
	<th:block layout:fragment="script"></th:block>
</body>
</html>