<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default-layout}">
	<th:block layout:fragment="content">
		<div class="card text-center">
		  <div class="card-header">
		    [[${board.boardSeq}]]
		  </div>
		  <div class="card-body">
		    <h5 class="card-title">[[${board.title}]]</h5>
		    <p class="card-text">[[${board.contents}]]</p>
		  </div>
		  <div class="card-footer text-muted">
		    [[${board.regDate}]]
		  </div>
		</div>		
		<div class="mt-2">
			<a href="/board/list" class="btn btn-primary">목록</a>
			
			<a th:href="@{/board/edit/{boardSeq}(boardSeq=${board.boardSeq})}"
				 class="btn btn-secondary">편집</a>
				 
			<a href="javascript:handleDelete();"
				 class="btn  btn-danger">삭제</a>
		</div> 
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
		var boardSeq = [[${board.boardSeq}]];
		
		function handleDelete() {
			if (!confirm('정말 삭제하시겠습니까?')) {
				return false;
			}
			$.ajax({
				url: '/board/delete',
				type: 'post',
				data: {
					boardSeq: boardSeq
				},
				success: function(data) {
					console.log(data);
					alert('삭제되었습니다.');
					location.href = '/board';
				},
				error: function(data) {
					console.log(data);
					alert('오류가 발생하였습니다.');
				}
			});
		}
		</script>
	</th:block>
</html>