<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-layout}">
	<th:block layout:fragment="css">
	</th:block>
	<th:block layout:fragment="content">
		<div class="container">
			<form th:action="${board == null ? '/board/save' : '/board/update'}" method="post">
				<input type="hidden" th:name="${_csrf.parameterName}"  th:value="${_csrf.token}" />
				<input type="hidden" name="boardSeq" th:if="${board != null}" th:value="${board.boardSeq}"/>
				<fieldset class="row mb-3">
					<legend class="col-form-label col-sm-2 pt-0">게시글 종류</legend>
					<div class="col-sm-10">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="boardType"
								id="boardType1" value="NOTICE" 
								th:checked="${board?.boardType == 'NOTICE'}"  
								> <label
								class="form-check-label" for="boardType1">공지사항</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="boardType"
								id="boardType2" value="COMMUNITY"
								th:checked="${board?.boardType == 'COMMUNITY'}"  
								> <label
								class="form-check-label" for="boardType2">커뮤니티</label>
						</div>
					</div>
				</fieldset>				
				<div class="row mb-3">
					<label for="title" class="col-sm-2 col-form-label">제목</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" 
							name="title" id="title" th:value="${board?.title}" />
					</div>
				</div>
				<div class="row mb-3">
					<label for="contents" class="col-sm-2 col-form-label">내용</label>
					<div class="col-sm-10">
						<textarea class="form-control" name="contents" id="contents" rows="3">[[${board?.contents}]]</textarea>
					</div>
				</div>
				<button type="submit" class="btn btn-primary">저장</button>
			</form>
		</div>
	</th:block>
	<!-- index.html 고유 스크립트 추가 -->
	<th:block layout:fragment="script">
	</th:block>		
</body>
</html>