<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default-layout}">
	<th:block layout:fragment="content">
		<form id="member-form" action="/member/save-upload" method="post">
			<div class="mb-3">
				<label for="account" class="form-label">계정</label>
				<input type="text" class="form-control"
					name="account" id="account"
					placeholder="계정">
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">비밀번호</label>
				<input type="password" class="form-control"
					name="password" id="password"
					placeholder="비밀번호">
			</div>
			<div class="mb-3">
				<label for="nickname" class="form-label">닉네임</label>
				<input type="text" class="form-control"
					name="nickname" id="nickname"
					placeholder="닉네임">
			</div>
			<div class="mb-3">
				<label for="profileImage" class="form-label">프로필 이미지</label>
				<input type="file" class="form-control"
					name="profileImage" id="profileImage"
					placeholder="프로필 이미지">
			</div>							
			<button type="submit" class="btn btn-primary">등록하기</button>
		</form>
	</th:block>
	<th:block layout:fragment="script">
		<script>
		// jquery 문법을 사용하기 위한 함수
		$(function() {
			var $form = $('#member-form');
			// 등록하기 버튼 이벤트 (form)에 대한 submit을 감지
			$form.submit(function() {
				// 서버로 데이터를 전송하는 함수 호출
				console.log($form[0]);
				var formData = new FormData($form[0]);
				$.ajax({
					url: $form.attr('action'),
					type: $form.attr('method'),
					data: formData,
					contentType: false,
					processData: false,
					success: function(data) {
						console.log(data);
						location.href = '/member/join-complete';
					},
					error: function(data) {
						alert(data.responseJSON.message);
					}
				});
				
				// 페이지가 이동되제 않게 false
				return false;
			});
		});
		</script>
	</th:block>
</html>