<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<script th:inline="javascript">
	alert('페이지를 찾을 수 없습니다.');
	history.back();
	</script>
	<!-- 
	<div class="container">
		<h2>400 Not Found</h2>
		<ul>
			<li th:text="|timestamp: ${timestamp}|"></li>
			<li th:text="|path: ${path}|"></li>
			<li th:text="|status: ${status}|"></li>
			<li th:text="|message: ${message}|"></li>
			<li th:text="|error: ${error}|"></li>
			<li th:text="|exception: ${exception}|"></li>
			<li th:text="|erros: ${errors}|"></li>
			<li th:text="|trace: ${trace}|"></li>
		</ul>
	</div>
	-->	
</body>
</html>